h1 {
	text-align: center;
	text-transform: uppercase;
	color: black;
}

.part1{
 background-color:#FFC0CB ;
}

.part2 {
 background-color:#FFE4C4 ;
}

.part3 {
 background-color:#ADD8E6; 
}

.part4 {
 background-color:#DDA0DD; 
}

.part5 {
  background-color: #FFDEAD;
 	
}